<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>

    <div class="bodyLogin">
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <p>Ingresa tus credenciales</p>
            <form action="procesar_login.php" method="post">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario" maxlength="6" required>

                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" minlength="6" required>

                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
    </div>

</body>
</html>

