*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
/*header*/
h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
/*banner*/
section.banner img{
    width: 100%;
}


div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}



main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}
/* footer*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    width: 30%;
  }
  
  .footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #ffcc00; /* Cambia el color al pasar el mouse */
  }
  
  .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
  }


  /* login*/
  .bodyLogin {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.login-container {
 background-color: whitesmoke;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px;
    height: 400px;
    z-index: 1000;
}

h2 {
    text-align: center;
    color: black;
}

p {
    margin: 0 0 10px;
    color: black;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0044AA;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0055CC;
}
/*heder de login*/
.header-login {
    background-color: #EAC926;
    padding: 10px;
    text-align: left;
    height: 40vh;
   
}

.logo-login {
    display: flex;
    align-items: center;
    font-size: 30px;
  
}

.logo-login img {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px; /* Ajusta el margen según tus necesidades */
    margin-top: 10px;
    height:auto;
    
}
/*footer del login*/
.footer-login {
    background-color: #e7e7e7;
    padding: 10px;
    text-align: left;
    height: 60vh;
   
}
/*header register*/
.header-register {
    background-color: #EAC926;
    padding: 10px;
    text-align: left;
    height: 40vh;
   
}
.logo-register img {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px; /* Ajusta el margen según tus necesidades */
    margin-top: 10px;
    height:auto;
    
}
/*footer register*/
.footer-register {
    background-color:#e7e7e7 ; /*#e7e7e7*/
    padding: 10px;
    text-align: left;
    height: 60vh;
   
}
.logo-register {
    display: flex;
    align-items: center;
    font-size: 30px;
  
}

/*formulario*/

/*
.bodyRegister {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

.register-conteiner {
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    text-align: left; 
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr; 
}
/*
h2, p, label {
    color: black;
}

.register-conteiner input {
    width: calc(100% - 16px); 
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px; 
}

.register-conteiner label {
    display: inline-block; 
    margin-bottom: 8px; 
}

.register-conteiner input[type="submit"] {
    background-color: #0044AA;
    color: #fff;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #0044AA;
    border-radius: 4px;
}

.register-conteiner input[type="submit"]:hover {
    background-color: #0055CC;
    border: 1px solid #0055CC;
}*/

/*formulario de registro*/
.bodyRegister {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.register-conteiner {
    background-color: whitesmoke;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px;
    height: 500px;
    z-index: 1000;
}

h2, p, label {
    text-align: center;
    color: black;
}

.register-conteiner input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-conteiner input[type="submit"] {
    background-color: #0044AA;
    color: #fff;
    cursor: pointer;
}

.register-conteiner input[type="submit"]:hover {
    background-color: #0055CC;
}
